.group-input-control {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  & > div:first-child {
    grid-column: 1;
    justify-self: end;
  }

  & > div:last-child {
    display: flex;
    width: max-content;
    flex-direction: column;
    margin-left: 0.5%;
  }
}
