.group-display {
  background-color: #333;
  border-radius: 4px 4px 0 0;
  transition: background-color 0.2s ease-in-out;
  display: flex;
  flex: 1 1 auto;
  align-items: flex-start;

  .valid-display {
    border-radius: 4px 4px 0 0;

    h2 {
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      background: #333;
      box-sizing: border-box;
      width: auto;
      margin: 0;
      padding: 10px;

      &:first-of-type {
        border-radius: 4px 4px 0 0;
      }

      &:not(:first-of-type) {
        border-radius: 0;
      }
    }

    p {
      text-align: center;
      color: #d1d1d1;
      font-size: 14px;
      background-color: #444444;
      padding: 10px;
      margin: 0;
      border: 0.2rem solid transparent;
    }

    h2,
    p {
      transition: border-color 0.2s ease-in-out;
    }

    &:hover {

      p {

        &:hover{
          border: 0.2rem solid #0070f3;
          transition: border-color 0.2s ease-in-out;
        }
      }
    }
  }

  h2 {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    background: #444444;
    box-sizing: border-box;
    width: auto;
    margin: 0;
    padding: 10px;
    border-radius: 4px 4px 0 0;
  }

  p {
    text-align: center;
    color: #d1d1d1;
    font-size: 14px;
    background-color: #444444;
    padding: 10px;
    margin: 0;
  }

}
