.group-display {
  background-color: #333;
  padding: 16px;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
  max-width: 25%;
  width: max-content;
  display: flex;

  h2 {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  p {
    color: #d1d1d1;
    font-size: 14px;
    margin-bottom: 16px;
  }

  &:hover {
    background-color: #444;

    h2, p {
      transition: color 0.2s ease-in-out;
    }
  }
}
